<form action="/action_page.php">
  <div class="imgcontainer">
    <img src="assets/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">

    <label><b>User Name</b></label>
    <input type="text" placeholder="Enter Your User Name" name="uname" required>

    <label><b>Email ID</b></label>
    <input type="text" placeholder="Enter Email ID" name="email" required>
    
    
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    
    <button type="submit" disabled >Sign Up</button>
    
  </div>

  <div class="container">
    <a routerLink="/login" class="signup">Return to Sign In </a>
    <a routerLink="/forgot-password" class="psw">Forgot password?</a>
  </div>
</form>